<div class="card">
  <div class="image">
    <img src="assets/images/cardImage.png" alt="">
  </div>
  <p class="specific">Лидер продаж</p>
  <img class="favorite" ngSrc="assets/icons/favorite.svg" alt="" height="27" width="27">
  <div class="info">
    <ul class="list">
      <li class="list-item"><p class="title">Кирпич облицовочный M95
        Воткинский</p></li>
      <li class="list-item"><p class="additional">Кол-во на поддоне, шт. - 297</p></li>
      <li class="list-item"><p class="additional">Формат одинарный</p></li>
      <li class="list-item">
        <a class="link" routerLink="/delivery">бесплатная доставка</a>
        <a class="link" routerLink="/catalog">в наличии</a>
      </li>
      <li class="list-item"><p class="cost">4500 $ / ШТ</p></li>
      <li class="list-item">
        <button class="buy">Купить в 1 клик</button>
        <button class="cart">
          <img ngSrc="assets/icons/check.svg" alt="" height="14" width="20">
        </button>
      </li>
    </ul>
  </div>
</div>
