<div class="card">
  <img class="screen" src="assets/images/materialScreen1.png" alt="">
  <div class="text">
    <img class="triangle" ngSrc="assets/icons/quotation.svg" alt="" height="18" width="16">
    <img class="triangle" ngSrc="assets/icons/quotation.svg" alt="" height="18" width="16">
    <img class="triangle" ngSrc="assets/icons/quotation.svg" alt="" height="18" width="16">
    <img class="triangle" ngSrc="assets/icons/quotation.svg" alt="" height="18" width="16">
    <ul>
      <li><p class="title">Аэропор Казань</p></li>
      <li><p class="description">Комплекс услуг по доставке товара на  Ваш строительный объект. Комплекс  услуг по доставке.</p></li>
      <li><button class="link">Перейти к объекту</button></li>
    </ul>
  </div>
</div>
