.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  width: 200px;
  height: 54px;
  img {
    width: 100%;
  }
}

.navigation {
  display: flex;
}



nav {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      margin-left: 94px;
      &:first-child {
        margin-left: 0;
      }
      .item {
        font-family: Roboto, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;
        &:active {
          color: var(--grey)
        }
      }
      .active {
        display: inline-block;
        border-bottom: 1px solid var(--grey);
        padding-bottom: 3px;
      }
    }
  }
}



.icon-container {
  display: flex;
  .icon {
    margin-left: 42px;
    width: 27px;
    height: 27px;
    img {
      width: 100%;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.contact {

  :nth-child(3) {
    margin-right: 20px;
  }
  .number {
    font-family: Roboto, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.55px;
    color: var(--black);
  }
  .call {
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    color: var(--blue)
  }
  .phone {
    cursor: pointer;
    display: none;
  }
  .burger {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    display: none;
  }
}

.sub-header {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item {

    button {
      background-color: var(--blue);
      color: #FFFFFF;
      border: none;
      &:hover {
        background-color: var(--darkblue);
      }
    }
    .catalog {
      width: 300px;
      height: 40px;
      border-radius: 4px;
      cursor: pointer;
      .search-mobile {
        display: none;
      }
    }
    a.stock {
      text-decoration: none;
      font-family: Roboto, serif;
      font-size: 18px;
      font-weight: 700;
      color: var(--red);
      cursor: pointer;
    }
    input {
      width: 248px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid rgba(109, 109, 109, 0.70);
      padding: 0 15px;
      outline: none;
    }
    .order {
      width: 199px;
      height: 40px;
      border-radius: 4px;
      cursor: pointer;
    }
    .about {
      cursor: pointer;
      color: var(--black);
      font-family: Roboto, serif;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
    }
    .search {
      display: none;
    }
  }
}

@media screen and (max-width: 1150px) {
  .logo {
    width: 158px;
    height: 42px;
  }
  nav {
    ul {
      li {
        margin-left: 46px;
        .item {
          font-size: 16px;
        }
      }
    }
  }
  .icon-container {
    .icon {
      margin-left: 19px;
      width: 23px;
      height: 23px;
    }
  }
  .contact {
    .number {
      font-size: 22px;
    }
    .call {
      font-size: 14px;
    }
    .phone {
      display: none;
    }
  }

  .sub-header {
    .item {
      .catalog {
        width: 229px;
        height: 40px;
        font-size: 18px;
      }
      a.stock {
        font-size: 14px;
      }
      input {
        width: 205px;
        height: 40px;
      }
      .order {
        font-size: 14px;
        width: 155px;
        height: 33px;
      }
      .about {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 133px;
    height: 35px;
  }
  nav {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: var(--grey);
    padding: 0 20px 20px 20px;
    ul {
      display: block;
      li {
        margin-left: 0;
        .item {
          color: #FFFFFF;
          font-size: 21px;
          display: block;
          padding: 10px 0;
        }
      }
    }
  }
  .icon-container {
    display: none;
  }
  .contact {
    display: flex;
    .number {
      font-size: 22px;
    }
    .call {
      display: none;
    }
    .phone {
      display: none;
    }
    .burger {
      display: block;
      z-index: 2;
    }
  }
  .header.open nav {
    display: block;
    z-index: 1;
  }
  .sub-header {
    .item {
      a.stock {
        font-size: 14px;
        background-color: var(--blue);
        padding: 13px 35px;
        color: #FFFFFF;
        border-radius: 4px;
        &:hover {
          background-color: var(--darkblue);
        }
      }
      input {
        display: none;
      }
      .order {
        display: none;
      }
      .about {
        font-size: 14px;
        background-color: var(--blue);
        padding: 13px 35px;
        color: #FFFFFF;
        border-radius: 4px;
        &:hover {
          background-color: var(--darkblue);
        }
      }
      .search {
        display: block;
        padding: 9px 25px;
        border-radius: 4px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 133px;
    height: 35px;
  }

  .contact {

    .number {
      display: none;
    }
    .phone {
      display: block;
    }
  }

  .sub-header {
    .item {
      .catalog {
        width: 450px;
        .search-mobile {
          display: inline-block;
          position: absolute;
          right: 20px;
          cursor: default;
        }
      }
      a.stock {
        display: none;
      }
      .about {
        display: none;
      }
      .search {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 109px;
    height: 29px;
  }
  .sub-header {
    .item {
      .catalog {
        width: 300px;
      }
    }
  }
}
