<section class="section">
  <div class="stock">
    <div class="image">
      <img ngSrc="assets/images/home.png" alt="" height="301" width="635" priority="">
    </div>
    <div class="info">
      <ul class="list">
        <li class="list-item"><p class="title">Кирпич облицовочный M95
          Воткинский</p></li>
        <li class="list-item"><p class="additional">Кол-во на поддоне, шт. - 297</p></li>
        <li class="list-item"><p class="additional">Формат одинарный</p></li>
        <li class="list-item">
          <a class="link" routerLink="/delivery">бесплатная доставка</a>
          <a class="link" routerLink="/catalog">в наличии</a>
        </li>
        <li class="list-item"><p class="cost">4500 $ / ШТ</p></li>
        <li class="list-item">
          <button class="buy">Купить в 1 клик</button>
          <button class="cart">
            <img ngSrc="assets/icons/whiteCart.svg" alt="" height="17" width="17">
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="facts">
    <div class="info-container">
      <button class="icon-button">
        <img ngSrc="assets/icons/homePage/car.svg" alt="" height="49" width="49">
      </button>
      <p>Доставка стройматериалов
        и аренда спецтехники</p>
    </div>
    <div class="info-container">
      <button>
        <img ngSrc="assets/icons/homePage/percent.svg" alt="" height="49" width="50">
      </button>
      <p>Скидки застройщикам
        и оптовикам</p>
    </div>
    <div class="info-container">
      <button>
        <img ngSrc="assets/icons/homePage/rubl.svg" alt="" height="49" width="50">
      </button>
      <p>Предлагаем
        лучшую цену</p>
    </div>
    <div class="info-container">
      <button>
        <img ngSrc="assets/icons/homePage/calendar.svg" alt="" height="23" width="25">
      </button>
      <p>Работаем 7 дней
        в неделю</p>
    </div>
  </div>
</section>
