/* You can add global styles to this file, and also import other style files */
:root {
  --blue: #5661CB;
  --darkblue: #1D2B5B;
  --red: #D41A36;
  --lightred: #DD4747;
  --green: #27AE60E5;
  --orange: #F2994A;
  --grey: #7D7D7D;
  --black: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
